doctype html
html(lang='es')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='Rigoberto L. Salgado Reyes')
    link(rel='icon', href='favicon.ico')

    link(href='/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')

  body
    nav(class='navbar navbar-expand-md navbar-dark bg-dark fixed-top')
      a(class='navbar-brand', href='http://digevo.com/')
        img(src='/images/digevo.png' class='' alt='Digevo image')
      button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
        span(class='navbar-toggler-icon')
      
    div(class='container')
      div(class='starter-template')        
        block content

    footer(class='footer')
      div(class='container')
        span(class='text-muted')=  '© DIGEVO ' + new Date().getFullYear()

    script(src='/bootstrap/assets/js/vendor/jquery-slim.min.js')
    script(src='/bootstrap/assets/js/vendor/popper.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bootstrap/assets/js/ie10-viewport-bug-workaround.js')

    
